---
const { name, stack, links, slug} = Astro.props;
const githubLink: string = links[0];
const linkedinLink: string = links[1];
---

<div class="max-w-md bg-white rounded-xl shadow-lg">
  <div class="m-6 overflow-hidden rounded-xl aspect-[1/1]">
	  <img src={`team/${slug}.webp`} alt={name} class="w-full h-full object-cover" />
  </div>
  <div class="px-6 pb-6">
    <h2 class="text-xl font-bold text-gray-800 mb-2">{name}</h2>
    <p class="text-gray-600">{stack}</p>
  </div>
  <ul class="flex justify-around p-4 border-t">
    <li>
      <a
        href={githubLink}
        target="_blank"
        rel="noopener noreferrer"
        class="text-gray-600 hover:text-gray-800"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
          <path fill-rule="evenodd" d="M12 0C5.373 0 0 5.373 0 12c0 5.302 3.438 9.8 8.207 11.387.6.111.793-.261.793-.577 0-.285-.011-1.232-.016-2.231-3.338.728-4.042-1.611-4.042-1.611-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.085 1.84 1.237 1.84 1.237 1.07 1.834 2.809 1.304 3.492.997.108-.775.418-1.304.762-1.604-2.665-.305-5.466-1.332-5.466-5.93 0-1.31.469-2.381 1.236-3.221-.123-.303-.536-1.523.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.005.404 2.291-1.552 3.297-1.23 3.297-1.23.655 1.653.242 2.873.119 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.803 5.623-5.475 5.921.43.372.814 1.102.814 2.222 0 1.604-.015 2.896-.015 3.286 0 .319.192.694.801.576C20.565 21.796 24 17.299 24 12c0-6.627-5.373-12-12-12z" clip-rule="evenodd" />
        </svg>
      </a>
    </li>
    <li>
      <a
        href={linkedinLink}
        target="_blank"
        rel="noopener noreferrer"
        class="text-gray-600 hover:text-blue-700"
      >
		<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/></svg>
      </a>
    </li>
  </ul>
</div>
